models/
repodir/
workdir/
logs/
**/__pycache__
dist/
huixiangdou.egg-info/
commit.id
resource/wechat_questions.json
.eggs/
feature_stores/
redis.conf
start-web.sh
logs/work.txt
query.jsonl
tests/history_recv_send.txt
unittest/token.json
wkteam/
evaluation/queries/
candidates/
evaluation/candidates.zip
evaluation/feature_stores.zip
evaluation/query.log
llm.jsonl
